<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MovieFlix</title>
</head>
<body>
<h2>Welcome to Movieflix </h2> <br/> <br/>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia 
odio vitae vestibulum vestibulum.Cras venenatis euismod malesuada.</p>
<br/> <br/>


<!-- <a href="/map-exploreMovie-user"> <input type="submit" value="Explore Movies"></a>  <br/> <br/> -->

<a href="/exploreMovies"> <input type="submit" value="Explore Movies"></a>  <br/> <br/>
<a href="#"> <input type = "submit" value="update Profile" ></a> <br/> <br/>
<a href="/logout"> <input type = "submit" value="Logout" ></a>  <br/> <br/>

</body>
</html>