<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Details</title>
</head>
<body>
<h2> User's Details </h2>
	<table border="2">
		<thead>
			<tr>
				<td> User name </td>
				<td> email </td>
				<td> address</td>
				<td> phone </td>
				<td> gender </td>
			</tr>	
		</thead>
		
		<tbody>
			<tr th:each="user : ${user}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.number}"></td>
				<td th:text="${user.gender}"></td>
			</tr>
		
		</tbody>
	</table>


</body>
</html>