<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Movie Details</title>
</head>
<body>
	<h2>Movie Details</h2>
	<table border="2">
		<thead>
			<tr>
				<td>Movie Name</td>
				<td>Movie Cast</td>
				<td>Movie Director</td>
				<td>Movie Genre</td>
				<td>Movie Link</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="movie : ${movies}">
				<td th:text="${movie.movieName}"></td>
				<td th:text="${movie.movieCast}"></td>
				<td th:text="${movie.movieDirector}"></td>
				<td th:text="${movie.movieGenre}"></td>
				<td><a th:href="${movie.movieLink}" th:utext="${movie.movieLink}"></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
